@import "tailwindcss";

@theme {
  /* Colors */
  --color-bg: 240 6% 10%; /* Near black */
  --color-text: 240 9% 98%; /* Soft white */
  --color-primary: 271 91% 65%; /* Purple */
  --color-secondary: 267 74% 47%; /* Deep violet */
  --color-accent: 290 60% 60%; /* Pinkish accent */
  --color-muted: 240 4% 60%;
}
